.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #fafafa;
    gap: 2rem;
    padding: 2rem;
}

.image {
    grid-column: 1 / span 7;
    min-height: 70vh;
    background-image: url("/assets/pic3.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 12px;
}

.text-block-1 {
    grid-column: 8 / span 6;
    background-color: rgba(255, 255, 255, 0.85);
    color: #333;
    padding: 2rem;
    border-radius: 12px;

}

.text-block-2 {
    grid-column: 1 / span 6;
    background-color: rgba(255, 255, 255, 0.85);
    color: #333;
    padding: 2rem;
    border-radius: 12px;

}

.image_2 {
    grid-column: 7 / span 6;
    min-height: 70vh;
    background-image: url("/assets/pic2.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 12px;
}

h2, h3 {
    font-weight: 600;
    color: #222;
    margin-bottom: 1rem;
    letter-spacing: 0.5px;
    text-transform: none;
}

h2 {
    font-size: clamp(1.8rem, 4vw, 2.4rem);
}

h3 {
    font-size: clamp(1.6rem, 3vw, 2rem);
}

.text {
    font-size: clamp(1rem, 1.7vw, 1.3rem);
    line-height: 1.6;
    font-weight: 300;
}

.text p {
    margin-bottom: 1rem;
}

@media (max-width: 992px) {
    .container {
        display: flex;
        flex-direction: column;
        padding: 2rem 1rem;
    }

    .image, .image_2 {
        height: 50vh;
        border-radius: 12px;
        margin-bottom: 1.5rem;
    }

    .text-block-1, .text-block-2 {
        padding: 1.5rem;
        margin-bottom: 2rem;
    }
}
