.footer {
    background-color:#b99b7d;
    color: #333333;
    padding: 2rem 1rem;
    border-top: 1px solid #333;
    height: 40vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
}

.logo {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    font-family: 'Oswald', sans-serif;
}


.menu {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.menu a {
    color: #333333;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #f2f2f2;
}

.socials {
    display: flex;
    gap: 1rem;
}

.socials a img {
    width: 30px;
    height: 30px;
    transition: all 0.3s ease;
}

.socials a:hover img {
    transform: scale(1.1);
}

.copyright {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    font-size: 0.9rem;
    color: #888;
}
